
// custom bootstrap variables
$primary: #111111;
$font-family-sans-serif: Montserrat, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
